HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Arquivos de Log da Execução e Build
mvn.log
*.log
*.out

### VS Code ###
.vscode/

# Ignorar volumes e arquivos temporários do MySQL
docker/volume_mysql/
docker/init/
docker/keycloak/

